%theme {
  &.accent {
    background:$accent;
    color: #fff;
    border-color: darken($accent, 5%);
    border-bottom-color: darken($accent, 15%);
  }
  
  &.complement {
    background:$complement;
    color: #fff;
    border-color: darken($complement, 5%);
    border-bottom-color: darken($complement, 15%);
  }
  
  &.base {
    background:$base;
    color: #fff;
    border-color: darken($base, 5%);
    border-bottom-color: darken($base, 15%);
  }
  
  &.neutral {
    background:$neutral;
    color: #999;
    border-color: darken($neutral, 5%);
    border-bottom-color: darken($neutral, 15%);
  }
}


.c1 {
  background: $accent;
  color: darken($accent, 40%);
}

.c2 {
  background: $complement;
  color: darken($complement, 40%);
}

.c3 {
  background: $base;
  color: lighten($base, 40%);
}

.c4 {
  background: $neutral;
  color: darken($neutral, 40%);
}

.c5 {
  
}

.c6 {
  background: $accent;
  color: darken($accent, 40%);
}


.accent {
  background: $accent;
  color: white;
}

.gradientGray2 {
  @include gradient($gray2, darken($gray2, 8%), $gray2);
  color: lighten($gray2, 40%);
}