.c1 {
  background: #4387fd;
  color: #012b73; }

.c2 {
  background: #ff4166;
  color: #740017; }

.c3 {
  background: #47525e;
  color: #afb8c2; }

.c4 {
  background: #e8ecf0;
  color: #6d869f; }

.c6 {
  background: #4387fd;
  color: #012b73; }

.accent {
  background: #4387fd;
  color: white; }

.gradientGray2 {
  background-color: #47525e;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#47525e), to(#353e47));
  background-image: -webkit-linear-gradient(top, #47525e, #353e47);
  background-image: -moz-linear-gradient(top, #47525e, #353e47);
  background-image: -ms-linear-gradient(top, #47525e, #353e47);
  background-image: -o-linear-gradient(top, #47525e, #353e47);
  color: #afb8c2; }

.bg-Gray1 {
  background: #ececef;
  color: #47525e; }
  .bg-Gray1 .lowLight {
    color: #9fa8ae; }

.bg-White {
  background: #fff;
  color: #47525e; }
  .bg-White .lowLight {
    color: #9fa8ae; }

.bg-accentGradient, .btn--accent {
  background-color: #4387fd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4387fd), to(#1b6dfd));
  background-image: -webkit-linear-gradient(top, #4387fd, #1b6dfd);
  background-image: -moz-linear-gradient(top, #4387fd, #1b6dfd);
  background-image: -ms-linear-gradient(top, #4387fd, #1b6dfd);
  background-image: -o-linear-gradient(top, #4387fd, #1b6dfd);
  color: #fff; }

.bg-accentGradient2, .btn--accent:hover {
  background-color: #4387fd;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4387fd), to(#0660fc));
  background-image: -webkit-linear-gradient(top, #4387fd, #0660fc);
  background-image: -moz-linear-gradient(top, #4387fd, #0660fc);
  background-image: -ms-linear-gradient(top, #4387fd, #0660fc);
  background-image: -o-linear-gradient(top, #4387fd, #0660fc); }

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.u-cf:before, .u-gridLg:before, .u-gridSm:before, .u-inline:before, .u-cf:after, .u-gridLg:after, .u-gridSm:after, .u-inline:after {
  content: "";
  display: table; }

.u-cf:after, .u-gridLg:after, .u-gridSm:after, .u-inline:after {
  clear: both; }

.u-pageWrap {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }

.u-displayBlock {
  display: block; }

.u-displayInline {
  display: inline; }

.u-displayInlineBlock, .font--5 {
  display: inline-block;
  max-width: 100%; }

.u-displayTable {
  display: table; }

.u-displayTableCell {
  display: table-cell; }

.u-displayTableRow {
  display: table-row; }

.u-gridLg {
  margin-top: -40px;
  margin-left: -40px; }
  .u-gridLg > * {
    margin-top: 40px;
    margin-left: 40px; }
  .u-gridLg.u-grid--1 > * {
    width: calc(100% - 40px); }
  .u-gridLg.u-grid--2 > * {
    width: calc(50% - 40px); }
  .u-gridLg.u-grid--3 > * {
    width: calc(33.3333% - 40px); }
  .u-gridLg.u-grid--4 > * {
    width: calc(25% - 40px); }
  .u-gridLg.u-grid--5 > * {
    width: calc(20% - 40px); }
  .u-gridLg.u-grid--6 > * {
    width: calc(16.6666% - 40px); }
  .u-gridLg.u-grid--7 > * {
    width: calc(14.2857% - 40px); }

.u-gridSm {
  margin-top: -6px;
  margin-left: -6px; }
  .u-gridSm > * {
    margin-top: 6px;
    margin-left: 6px; }
  .u-gridSm.u-grid--1 > * {
    width: calc(100% - 6px); }
  .u-gridSm.u-grid--2 > * {
    width: calc(50% - 6px); }
  .u-gridSm.u-grid--3 > * {
    width: calc(33.3333% - 6px); }
  .u-gridSm.u-grid--4 > * {
    width: calc(25% - 6px); }
  .u-gridSm.u-grid--5 > * {
    width: calc(20% - 6px); }
  .u-gridSm.u-grid--6 > * {
    width: calc(16.6666% - 6px); }
  .u-gridSm.u-grid--7 > * {
    width: calc(14.2857% - 6px); }

.u-floatL, .u-gridLg > *, .u-gridSm > * {
  float: left; }

.u-floatR {
  float: right; }

.u-pa1 {
  padding: 1px; }

.u-pt1 {
  padding-top: 1px; }

.u-pr1 {
  padding-right: 1px; }

.u-pb1 {
  padding-bottom: 1px; }

.u-pl1 {
  padding-left: 1px; }

.u-pa2 {
  padding: 3px; }

.u-pt2 {
  padding-top: 3px; }

.u-pr2 {
  padding-right: 3px; }

.u-pb2 {
  padding-bottom: 3px; }

.u-pl2 {
  padding-left: 3px; }

.u-pa3 {
  padding: 5px; }

.u-pt3 {
  padding-top: 10px; }

.u-pr3 {
  padding-right: 10px; }

.u-pb3 {
  padding-bottom: 10px; }

.u-pl3 {
  padding-left: 10px; }

.u-pa4 {
  padding: 10px; }

.u-pt4 {
  padding-top: 10px; }

.u-pr4 {
  padding-right: 10px; }

.u-pb4 {
  padding-bottom: 10px; }

.u-pl4 {
  padding-left: 10px; }

.u-pa5 {
  padding: 15px; }

.u-pt5 {
  padding-top: 15px; }

.u-pr5 {
  padding-right: 15px; }

.u-pb5 {
  padding-bottom: 15px; }

.u-pl5 {
  padding-left: 15px; }

.u-pa6 {
  padding: 30px; }

.u-pt6 {
  padding-top: 30px; }

.u-pr6 {
  padding-right: 30px; }

.u-pb6 {
  padding-bottom: 30px; }

.u-pl6 {
  padding-left: 30px; }

.u-pa7 {
  padding: 60px; }

.u-pt7 {
  padding-top: 60px; }

.u-pr7 {
  padding-right: 60px; }

.u-pb7 {
  padding-bottom: 60px; }

.u-pl7 {
  padding-left: 60px; }

.u-ma1 {
  margin: 1px; }

.u-mt1 {
  margin-top: 1px; }

.u-mr1 {
  margin-right: 1px; }

.u-mb1 {
  margin-bottom: 1px; }

.u-ml1 {
  margin-left: 1px; }

.u-ma2 {
  margin: 3px; }

.u-mt2 {
  margin-top: 3px; }

.u-mr2 {
  margin-right: 3px; }

.u-mb2 {
  margin-bottom: 3px; }

.u-ml2 {
  margin-left: 3px; }

.u-ma3 {
  margin: 5px; }

.u-mt3 {
  margin-top: 5px; }

.u-mr3 {
  margin-right: 5px; }

.u-mb3 {
  margin-bottom: 5px; }

.u-ml3 {
  margin-left: 5px; }

.u-ma4 {
  margin: 10px; }

.u-mt4 {
  margin-top: 10px; }

.u-mr4 {
  margin-right: 10px; }

.u-mb4 {
  margin-bottom: 10px; }

.u-ml4 {
  margin-left: 10px; }

.u-ma5 {
  margin: 15px; }

.u-mt5 {
  margin-top: 15px; }

.u-mr5 {
  margin-right: 15px; }

.u-mb5 {
  margin-bottom: 15px; }

.u-ml5 {
  margin-left: 15px; }

.u-ma6 {
  margin: 30px; }

.u-mt6 {
  margin-top: 30px; }

.u-mr6 {
  margin-right: 30px; }

.u-mb6 {
  margin-bottom: 30px; }

.u-ml6 {
  margin-left: 30px; }

.u-ma7 {
  margin: 60px; }

.u-mt7 {
  margin-top: 60px; }

.u-mr7 {
  margin-right: 60px; }

.u-mb7 {
  margin-bottom: 60px; }

.u-ml7 {
  margin-left: 60px; }

.u-inline > * {
  float: left; }

/**
* @name         Media block
* @desc         Media block - image on left/right, text next to it.
* @author       
* @tested       
* @requires     
*/
.media-img {
  float: left;
  margin-right: 10px; }
  .media-img > img {
    display: block; }

.media-imgExt {
  float: right;
  margin-left: 10px;
  margin-right: 0; }

.u-textAlign--left {
  text-align: left; }

.u-textAlign--right {
  text-align: right; }

.u-textAlign--center {
  text-align: center; }

.u-verticallyCenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%); }

.u-bra1 {
  border-radius: 2px; }

.u-bra2 {
  border-radius: 4px; }

.u-bra3 {
  border-radius: 10px; }

.u-braRound {
  border-radius: 50%; }

.u-hidden {
  display: none !important;
  visibility: hidden; }

.u-invisible {
  visibility: hidden; }

.u-visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.btn--1, .btn--2 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.btn--1, .btn--2 {
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  vertical-align: top;
  cursor: pointer; }

.btn--1 {
  height: 32px;
  line-height: 32px;
  padding: 0 14px;
  font-size: 13px; }

.btn--2 {
  height: 46px;
  line-height: 46px;
  padding: 0 28px;
  font-size: 16px; }

.btn--accent {
  border: 1px solid;
  border-color: #2a77fd;
  border-bottom-color: #0250d8;
  text-shadow: 0 1px 0 #035af1;
  box-shadow: inset 0 1px 0 #a8c7fe, 0 1px 0 rgba(0, 0, 0, 0.1); }
  .btn--accent:hover {
    border-color: #0250d8; }

.btn--flat {
  background: #4387fd;
  color: #fff;
  border: 0; }
  .btn--flat:hover {
    background: #1167fc; }

.btn--hollow {
  background: none;
  color: #4387fd;
  border: 2px solid;
  border-color: #4387fd; }
  .btn--hollow:hover {
    border-color: #1167fc;
    color: #1167fc; }

.btn--glass {
  background: #4387fd;
  color: #4387fd;
  border: 2px solid;
  border-color: rgba(255, 255, 255, 0.5); }
  .btn--glass:hover {
    background: #4387fd; }

.input1 {
  width: 100%;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  padding: 0 10px; }

.input1 {
  height: 64px;
  line-height: 64px;
  -webkit-border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  -khtml-border-radius: 2px 2px 2px 2px; }

.input-1 {
  border: 1px solid #cacace;
  border-top-color: #97979b;
  font-weight: bold; }

.input-2 {
  border: 1px solid #cacace;
  border-top-color: #97979b;
  font-weight: bold; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  margin: 0;
  font-weight: 500;
  line-height: 1; }

html {
  font-size: 16px;
  line-height: 1.6; }

body, html, input, button, textarea, select {
  font-family: "proxima nova", "Helvetica Neue", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #47525e; }

.font--1 {
  font-size: 14px;
  line-height: 22px; }

.font--2 {
  font-size: 2rem;
  font-size: 2rem;
  line-height: 2rem; }

.font--3 {
  font-size: 19px;
  line-height: 28px; }

.font--4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 36px; }

.font--5 {
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid #9fa8ae; }
