//
// Variables
// -------------------------

// Media query breakpoints
// -------------------------

$bp1: 320px;
$bp2: 680px;
$bp3: 1180px;
$bp4: 1640px;
$bp5: 2000px;
$bp6: 3000px;

// Typography
// -------------------------

$baseFontFamily: "Helvetica Neue", arial, sans-serif;
$baseFontSize: 13px;
$baseLineHeight: 1.6;

$h1: 2.2rem;
$h2: 1.7rem;
$h3: 11px;
$h4: 1rem;
$h5: 0.85rem;
$h6: 0.7rem;

// Color scheme
// -------------------------

$accent: #37ccbd;
$complement: #ff4166;
$base: #47525e;
$neutral: #e8ecf0;

// Spacing
// -------------------------

$px1: 4px;
$px2: 2px;