//
// Grid
// -------------------------

$gutter: $px4;

[class*="grid-"]{
  margin-top: -$gutter;
  margin-left: -$gutter;
  @extend .cf;
  > * {
    float:left;
    margin-top: $gutter;
    margin-left: $gutter;
  }
}

.grid-2 > * {
  width: calc(50% - #{$gutter});
}

.grid-3 > * {
  width: calc(33.33% - #{$gutter});
}

.grid-4 > * {
  width: calc(25% - #{$gutter});
}

.grid-5 > * {
  width: calc(20% - #{$gutter});
}