//
// Grid
// -------------------------

$gutter: 40px;

[class*="grid-"]{
  background: coral;
  margin-top: -$gutter;
  margin-left: -$gutter;
  @extend .cf;
  > div {
    background: pink;
    float:left;
    margin-top: $gutter;
    margin-left: $gutter;
  }
}

.grid-2 > div {
  width: calc(50% - #{$gutter});
}

.grid-3 > div {
  width: calc(33.33% - #{$gutter});
}

.grid-4 > div {
  width: calc(25% - #{$gutter});
}

.grid-5 > div {
  width: calc(20% - #{$gutter});
}