// Responsive breakpoints
@mixin breakpoint($point) {
  @if $point == bp1 {
    @media (min-width: $bp1) { @content; }
  }
  @else if $point == bp2 {
    @media (min-width: $bp2) { @content; }
  }
  @else if $point == bp3 {
    @media (min-width: $bp3)  { @content; }
  }
  @else if $point == bp4 {
    @media (min-width: $bp4)  { @content; }
  }
  @else if $point == bp5 {
    @media (min-width: $bp5)  { @content; }
  }
  @else if $point == bp6 {
    @media (min-width: $bp6)  { @content; }
  }
}

@mixin user-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

@mixin rounded($topL, $topR, $botR, $botL) {
  -webkit-border-radius: $topL $topR $botR $botL;
	   -moz-border-radius: $topL $topR $botR $botL;
	        border-radius: $topL $topR $botR $botL;
	 -khtml-border-radius: $topL $topR $botR $botL;
}

@mixin box-shadow($hor, $vert, $blur, $color) {
	-webkit-box-shadow: $hor $vert $blur $color;
	   -moz-box-shadow: $hor $vert $blur $color;
	     -o-box-shadow: $hor $vert $blur $color;
	        box-shadow: $hor $vert $blur $color
}

@mixin box-sizing {
  -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

// Gradient
@mixin gradient($value1, $value2 , $value3) {
  background-color: $value3;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($value1), to($value2));
	background-image: -webkit-linear-gradient(top, $value1, $value2);
	background-image: -moz-linear-gradient(top, $value1, $value2);
	background-image: -ms-linear-gradient(top, $value1, $value2);
	background-image: -o-linear-gradient(top, $value1, $value2);
}