<a class="btn1 btn-solid accent">Fuck off</a>
<a class="btn2 btn-solid complement">Fuck off</a>
<a class="btn3 btn-solid neutral">Fuck off</a>
<a class="btn2 btn-solid base">Fuck off</a>

<a class="btn2 btn-hollow accent">Fuck off</a>
<a class="btn2 btn-hollow complement">Fuck off</a>
<a class="btn2 btn-hollow neutral">Fuck off</a>
<a class="btn2 btn-hollow base">Fuck off</a>


<section class="c3" style="height:400px;">
  <a href="#">Our Collections</a>
  <a href="#">Our Collections</a>
  <a href="#">Our Collections</a>
  <a href="#">Our Collections</a>
</section>

<section class="c4" style="height:400px;">
  <h1 class="h1">This is a heading</h1>
  <h2 class="h2">This is a heading</h2>
  <h3 class="h3">This is a heading</h3>
  <h4 class="h4">This is a heading</h4>
  <h5 class="h5">This is a heading</h5>
  <h6 class="h6">This is a heading</h6>
</section>

<section class="c4" style="height:400px;">
  <div class="con">
    <p>If you are maintaining a line length of 80 characters regardless of screen size, wouldn’t readability become an issue on smaller screens?<p>

    <p>When I view this site on my mobile I get around 40 characters per line and that is small enough, I can’t imagine being able to read the content if it was scaled down to fit 80 characters per line.</p>
  </div>
</section>