//
// Grid
// -------------------------

.u-gridLg {
  $gutter: 40px;
  
  margin-top: -$gutter;
  margin-left: -$gutter;
  @extend .u-cf;
  
  > * {
    @extend .u-floatL;
    margin-top: $gutter;
    margin-left: $gutter;
  }
  
  &.u-grid--1 > * {
    width: calc(100% - #{$gutter});
  }

  &.u-grid--2 > * {
    width: calc(50% - #{$gutter});
  }

  &.u-grid--3 > * {
    width: calc(33.3333% - #{$gutter});
  }

  &.u-grid--4 > * {
    width: calc(25% - #{$gutter});
  }

  &.u-grid--5 > * {
    width: calc(20% - #{$gutter});
  }
  
  &.u-grid--6 > * {
    width: calc(16.6666% - #{$gutter});
  }
  
  &.u-grid--7 > * {
    width: calc(14.2857% - #{$gutter});
  }
}

.u-gridSm {
  $gutter: 6px;
  
  margin-top: -$gutter;
  margin-left: -$gutter;
  @extend .u-cf;
  
  > * {
    @extend .u-floatL;
    margin-top: $gutter;
    margin-left: $gutter;
  }
  
  &.u-grid--1 > * {
    width: calc(100% - #{$gutter});
  }

  &.u-grid--2 > * {
    width: calc(50% - #{$gutter});
  }

  &.u-grid--3 > * {
    width: calc(33.3333% - #{$gutter});
  }

  &.u-grid--4 > * {
    width: calc(25% - #{$gutter});
  }

  &.u-grid--5 > * {
    width: calc(20% - #{$gutter});
  }
  
  &.u-grid--6 > * {
    width: calc(16.6666% - #{$gutter});
  }
  
  &.u-grid--7 > * {
    width: calc(14.2857% - #{$gutter});
  }
}