//
// Transform origin
// -------------------------

.u-transformOrigin--top {
  transform-origin: center top;
}

.u-transformOrigin--right {
  transform-origin: center right;
}

.u-transformOrigin--bottom {
  transform-origin: center bottom;
}

.u-transformOrigin--left {
  transform-origin: center left;
}