//
// Variables
// -------------------------

// Media query breakpoints
// -------------------------

$bp1: 320px;
$bp2: 680px;
$bp3: 1180px;
$bp4: 1500px;
$bp5: 2000px;
$bp6: 3000px;

// Typography
// -------------------------

$h1: 2.2rem;
$h2: 2rem;
$h3: 11px;
$h4: 1rem;
$h5: 0.85rem;
$h6: 0.7rem;

// Spacing
// -------------------------

$px1: 2px;
$px2: 5px;
$px3: 10px;
$px4: 20px;
$px5: 50px;
$px6: 120px;
$offCanvas: -9999px;