//
// Buttons
// -------------------------

// To make a button, apply a size class to a link element.
// Then define your visual style in a different class
// and apply that. The functional CSS will get added
// via a sass placeholder. Any skin styles like color,
// background color or border color should be defined in
// a separate theme.scss file.

// user-select is not supported in Opera or > IE10. We can
// use the unselectable HTML attribute to get around this:
// <button unselectable="on"></button>

// Variables
// -------------------------

$btn1: 32px;
$btn2: 46px;

// Root component
// -------------------------

%btn {
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  outline: none;
  vertical-align: top;
  cursor: pointer;
  @extend %unselectable;
  @extend %tap-highlight;
}

// Button sizes
// -------------------------

.btn--1 {
  @extend %btn;
  height: $btn1;
  line-height: $btn1;
  padding: 0 14px;
  font-size: 13px;
  @extend .round-1;
}

.btn--2 {
  @extend %btn;
  height: $btn2;
  line-height: $btn2;
  padding: 0 28px;
  font-size: 16px;
  @extend .round-1;
}

// Button styles
// -------------------------

.btn--flat {
  background: $accent;
  color: #fff;
  border: 0;
  &:hover {
    background: darken($accent, 10%);
  }
}

.btn--hollow {
  background: none;
  color: $accent;
  border: 2px solid;
  border-color: $accent;
  &:hover {
    border-color: darken($accent, 10%);
    color: darken($accent, 10%);
  }
}