//
// Typography
// -------------------------

// Typography works just like buttons. You apply a
// size class. Any size class can be used with any
// h tag. Then apply a visual class which makes
// each heading look a certain way. Define your own
// visual CSS for these class. The class names I used
// are just for demo purposes. Again, any colors should
// be defined in a separate theme.scss file.

// Variables
// -------------------------

$baseFontFamily: "proxima nova", "Helvetica Neue", arial, sans-serif;
$codeFontFamily: "source code pro", Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize: 16px;
$baseLineHeight: 1.6;

// Reset
// -------------------------

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  margin: 0;
  font-weight: 500;
  line-height: 1;
}

// Sizing
// -------------------------

html {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

// Base styles
// -------------------------

body,html,input,button,textarea,select {
  font-family: $baseFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $base;
}

// Heading sizes
// -------------------------

.font--1 {
  font-size: 14px;
  line-height: 22px;
}

.font--2 {
  font-size: $h2; // Specify rem fallback
  font-size: $h2; // Specify font-size in rems
  line-height: $h2;
}

.font--3 {
  font-size: 19px;
  line-height: 28px;
}

.font--4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 36px;
}

.font--5 {
  @extend .u-displayInlineBlock;
  font-size: 12px;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 2px solid $gray3;
}