//
// Typography
// -------------------------

// Typography works just like buttons. You apply a
// size class. Any size class can be used with any
// h tag. Then apply a visual class which makes
// each heading look a certain way. Define your own
// visual CSS for these class. The class names I used
// are just for demo purposes. Again, any colors should
// be defined in a separate theme.scss file.

// Variables
// -------------------------

$baseFontFamily: "source sans pro", "Helvetica Neue", arial, sans-serif;
$codeFontFamily: "source code pro", Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontFamily: "proxima nova", "Helvetica Neue", arial, sans-serif;
$baseFontSize: 16px;
$baseLineHeight: 1.6;

// Reset
// -------------------------

h1,h2,h3,h4,h5,h6 {
  font-size: 100%;
  margin: 0;
}

// Sizing
// -------------------------

html {
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
}

// Base styles
// -------------------------

body,html,input,button,textarea,select {
  font-family: $baseFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: $base;
}

// Heading sizes
// -------------------------

.type1 {
  font-size: $h1; // Specify rem fallback
  font-size: $h1; // Specify font-size in rems
  line-height: $h1;
}

.type2 {
  font-size: $h2; // Specify rem fallback
  font-size: $h2; // Specify font-size in rems
  line-height: $h2;
}

.type3 {
  font-size: $h3; // Specify rem fallback
  font-size: $h3; // Specify font-size in rems
  line-height: $h3;
}

.type4 {
  font-size: $h4; // Specify rem fallback
  font-size: $h4; // Specify font-size in rems
  line-height: $h4;
}

.type5 {
  font-size: $h5; // Specify rem fallback
  font-size: $h5; // Specify font-size in rems
  line-height: $h5;
}

.type6 {
  font-size: $h6; // Specify rem fallback
  font-size: $h6; // Specify font-size in rems
  line-height: $h6;
}

// Heading styles
// -------------------------

.type-thin {
  font-weight: 400;
}

.type-underline {
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 2px;
  border-bottom: 2px solid;
}