// 

a,
a:active,
a:visited {
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  line-height:200%;
  font-size: 1.25em;
}

a:hover {
  text-decoration: underline;
}

%link1 {
  border-bottom: 1px solid $accent;
  
  &:hover {
    text-decoration: none;
    background: lighten($accent, 40%);
    border-color: transparent;
  }
}

%link2 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: inherit;
  letter-spacing:1px;
  
  &:hover {
    text-decoration: none;
  }
}



section {
  a {
    @extend %link2;
  }
}